/* Typografie angelehnt an MediaWiki (https://www.mediawiki.org/wiki/Typography_refresh) */
body {
    font-family: Arimo, "Liberation Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #252525;
}

h1, h2, h3, h4 {
    font-family: "Linux Libertine", Georgia, Times, serif;
    color: #000;
    border-bottom: 1px solid #aaa;
}

#content h1 {
    font-size: 1.8em;
    line-height: 1.3em;
}
#content h2 {
    font-size: 1.4em;
    line-height: 1.3em;
}

h1 a, h2 a, h3 a { color: #000 }

#content p { margin: 0.5em 0 }

footer {
    border-top: 1px solid #aaa;
    padding-top: 0.5em;
}
.navbar {
  border-bottom: 2px solid #000;
}


tr { border-bottom: 1px solid #AAA; }

/* Monospace im Fliesstext nicht verkleinern */
code, kbd, tt {
    font-family: monospace, monospace;
    font-size: 1em;
}


/* Inhalt zentriert */
#content {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#content * { text-align: left; }

/* Inhaltsverzeichnis */
#TOC {
    background: #ddd;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0.2em 1em;
    max-width: 52ex;
}
#TOC * { text-align: left }

/* Inhaltsverzeichnis: Gliederung */
#TOC a { color: #252525; }
#TOC ul { list-style-type: none; padding: 0 }
#TOC li { font-weight: bold; }
#TOC ul ul { padding-left: 1.3em }
#TOC li li {
    font-weight: normal; 
    padding-left: 2em;
    text-indent: -2em;
}
#TOC ul ul ul { padding-left: 0em }
#TOC li li li {
    font-style: italic; 
    padding-left: 2.6em;
    text-indent: -2.6em;
}

.toc-section-number { margin-right: 0.3em; font-style: normal; }

/* normal */
    #content {
        padding-left: 1em;
        padding-right: 1em;
    }
    body {
        margin: 0;
        font-size: 1.2em;  
        line-height: 1.5em;
    }


/* ab 600px Breite: Schrift größer und nicht zu lange Zeilen */
@media screen and (min-width: 600px) {
    #content {
        max-width: 75ex;
    }
    body { 
        font-size: 1em;
    }
}

@media screen and (min-width: 1024px) {
    body { 
        font-size: 1.2em;
    }
}

@media screen and (min-width: 1200px) {
    body { 
        font-size: 1.5em;
    }
}

/* Glossar */
dt { font-weight: bold; }
dd { margin-left: 1.5em; } 

/* Bilder */
.figure img {
    border: 1px solid #aaa;
    max-width: 100%; 
    height: auto 
}

/* Bildunterschriften */
#content .caption { 
    font-style: italic;
    margin-top: 0.5em;
    text-align: center;
}

/* Interne Verweise durch Pfeil kennzeichnen */
a[href^='#']:before { content: "↗ "; }
h1 a[href^='#']:before { content: ""; }
h2 a[href^='#']:before { content: ""; }
h3 a[href^='#']:before { content: ""; }
h4 a[href^='#']:before { content: ""; }
li > a[href^='#']:before { content: ""; }

/* Titelei */
header {
    background: #fff;
}
header div {
    text-align: center;
    font-weight: bold;
    padding: 1em;
}
#title { font-size: 2em; }
#date { font-size: 1.5em; }
#author { font-size: 1.5em; }



