footer {
    border-top: 1px solid #aaa;
    padding-top: 0.5em;
}
.figure img {
  border: 1px solid #aaa;
}
.navbar {
  border-bottom: 2px solid #000;
}

dd+dt { border: none; }
dd+dd { border: none; }
 
tr { border-bottom: 1px solid #AAA; }
