# Liste aller Normdaten-Eigenschaften {.unnumbered}

Die folgende Liste wurde automatisch erstellt und stellt den Stand zum XXXX
dar. Zu diesem Zeitpunkt hatte Wikidata insgesamt Y Normdaten-Eigenschaften.

id | Name | Beschreibung
---|------|-------------
